html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.crystal {
    width: 25%;
};

main{
        /* background-image: url("images/gameback.png"); */
        background-image: url("images/game_background.png");      
        /* background-repeat: no-repeat;
        background-position: right top;
        margin-right: 200px;
        background-attachment: fixed; */
        background-color:lavenderblush;

    }

#title{
    /* background-image: url("images/crystal2.gif"); */
    background-color: azure;
}

footer{
    text-align: center;
}

.diamond{
    width: 100px;;
}

#random-view{
    font-size: 50px;
    color: blue;
    margin-left: 15px;
}

#restart{
    margin-top: 25px;
    margin-left: 15px;
}

#results{
    margin-top: 15px;
}

#result{
    font-size: 50px;
    color: orange;
    margin-left: 15px;
}

#sailor{
    width: 30%;
   margin-left: 60pxñ
}

#afterPlayWin{
   width: 100%;
   margin: 10px;

} 

#afterPlayLose{
    width: 450px;
    margin: 10px;
 } 

 aside { 
    position: relative;
    float:left;
    top: 0px;
    bottom: 0px;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 30px;
    widows: 200px;
    text-align: justify;
  }